<div class="m-4">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <h5>Consulta de empresas</h5>
          Listagem de empresas cadastradas na aplicação
        </div>
        <div class="col-md-6 text-end">
          <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#cadastro">
            Cadastrar Empresa
          </button>
        </div>
      </div>
      <hr />
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Nome fantasia</th>
              <th>Razão Social</th>
              <th>CNPJ</th>
              <th>Cadastrado em</th>
              <th>Operações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of empresas">
              <td>{{item.nomeFantasia}}</td>
              <td>{{item.razaoSocial}}</td>
              <td>{{item.cnpj}}</td>
              <td>{{item.dataHoraCadastro}}</td>
              <td>
                <button class="btn btn-outline-danger btn-sm"
                  (click)="onDelete(item)"
                  data-bs-toggle="modal" data-bs-target="#exclusao">
                  Excluir
                </button>
                &nbsp;
                <button class="btn btn-outline-primary btn-sm"
                  data-bs-toggle="modal" data-bs-target="#edicao"
                  (click)="onUpdate(item)">
                  Alterar
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                Quantidade de empresas: {{empresas.length}}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal de cadastro de empresas-->
<div class="modal fade" id="cadastro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastro de Empresas</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
          <div class="mb-2">
            <label>Nome fantasia da empresa:</label>
            <input type="text" class="form-control" formControlName="nomeFantasia" />
            <div class="text-danger" *ngIf="form.nomeFantasia.touched && form.nomeFantasia.invalid">
              Por favor, informe o nome fantasia da empresa.
            </div>
          </div>
          <div class="mb-2">
            <label>Razão social:</label>
            <input type="text" class="form-control" formControlName="razaoSocial" />
            <div class="text-danger" *ngIf="form.razaoSocial.touched && form.razaoSocial.invalid">
              Por favor, informe a razão social da empresa.
            </div>
          </div>
          <div class="mb-2">
            <label>CNPJ:</label>
            <input type="text" class="form-control" formControlName="cnpj" />
            <div class="text-danger" *ngIf="form.cnpj.touched && form.cnpj.invalid">
              Por favor, informe o CNPJ da empresa.
            </div>
          </div>
          <div class="mb-2 d-grid">
            <button class="btn btn-success" type="submit" [disabled]="!formCadastro.valid">
              Realizar Cadastro
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal de exclusão de empresas-->
<div class="modal fade" id="exclusao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Exclusão de Empresas</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="text-center mb-2">
          Deseja realmente excluir a empresa selecionada?
        </div>
       
        <table class="table table-sm table-bordered mb-2">
          <tbody>
            <tr>
              <td>Id da empresa:</td>
              <td>{{empresa.idEmpresa}}</td>
            </tr>
            <tr>
              <td>Nome fantasia:</td>
              <td>{{empresa.nomeFantasia}}</td>
            </tr>
            <tr>
              <td>Razão Social:</td>
              <td>{{empresa.razaoSocial}}</td>
            </tr>
            <tr>
              <td>CNPJ:</td>
              <td>{{empresa.cnpj}}</td>
            </tr>
            <tr>
              <td>Cadastrado em:</td>
              <td>{{empresa.dataHoraCadastro | date: 'dd/MM/yyyy HH:mm'}}</td>
            </tr>
          </tbody>
        </table>

        <button class="btn btn-danger btn-sm mt-2 me-2" data-bs-dismiss="modal"
          (click)="onDeleteConfirm()">
          Confirmar a exclusão da empresa
        </button>

        <button class="btn btn-light btn-sm mt-2" data-bs-dismiss="modal">
          Cancelar
        </button>

      </div>
    </div>
  </div>
</div>

<!-- Modal de edição de empresas-->
<div class="modal fade" id="edicao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edição de Empresas</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="formEdicao" (ngSubmit)="onUpdateConfirm()">

          <!-- campo oculto -->
          <input type="hidden" formControlName="idEmpresa"/>

          <div class="mb-2">
            <label>Nome fantasia da empresa:</label>
            <input type="text" class="form-control" formControlName="nomeFantasia" />
            <div class="text-danger" *ngIf="formEdit.nomeFantasia.touched && formEdit.nomeFantasia.invalid">
              Por favor, informe o nome fantasia da empresa.
            </div>
          </div>
          <div class="mb-2">
            <label>Razão social:</label>
            <input type="text" class="form-control" formControlName="razaoSocial" />
            <div class="text-danger" *ngIf="formEdit.razaoSocial.touched && formEdit.razaoSocial.invalid">
              Por favor, informe a razão social da empresa.
            </div>
          </div>
          <div class="mb-2">
            <label>CNPJ:</label>
            <input type="text" class="form-control" formControlName="cnpj" />
            <div class="text-danger" *ngIf="formEdit.cnpj.touched && formEdit.cnpj.invalid">
              Por favor, informe o CNPJ da empresa.
            </div>
          </div>
          <div class="mb-2 d-grid">
            <button class="btn btn-primary" type="submit" [disabled]="!formEdicao.valid">
              Salvar Alterações
            </button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>